body {
    text-align: center;
}

header {
    background-color: rgb(152, 187, 219);
}

.header {
    list-style: none;
    display: flex; 
    gap: 20px;
    justify-content: flex-end;
    margin: 20px;
}

h1 {
    /*background-image: url(header.jpg);*/
    background-color: rgb(57, 104, 206);
    padding: 100px;
    color: rgb(255, 255, 255);
}

p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

img {
    width: 500px;
    height: auto;
}

figcaption {
    font-style: italic;
}
