body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}
/* Header styling */
nav {
    background-color: #031d44;
    height: 100vh;
    color: #f7f5fb;
    display: flex; 
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex; 
    gap: 20px;
    justify-content: flex-end;
    margin: 20px;
}


a {
    color: #f7f5fb;
    text-decoration: none;
}
a:hover { 
    text-decoration: none;
    color:rgb(36, 99, 216);
}

/*Main body */
section {
    height: 500px;
    background-color: antiquewhite;
}

/*Main body */
footer {
    height: 500px;
    background-color: #031d44;
}