h3, body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}
a:hover { 
    text-decoration: none;
    color:rgb(36, 99, 216);
 }

 ul li {
     padding-bottom: 5px;
 }

.header {
    list-style: none;
    display: flex; 
    gap: 20px;
    justify-content: flex-end;
    margin: 20px;
}

h1 {
    background-color: rgb(45, 128, 236);
    padding: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: center;
    justify-items: center;
}

.content {
    font-size: 18px;
    text-align: left;
    padding-bottom: 40px;
    max-width: 700px;
}

.about {
    max-width: 400px;
  
}

.profile {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: left;
}

main {
    display: flex;
    justify-content: center;
}



img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
}

footer {
    background-color: rgb(45, 128, 236);
    color: antiquewhite;
    padding: 0.05px;
}