body {
    text-align: center;
}

header {
    background-color: rgb(152, 187, 219);
}

ul {
    list-style: none;
    display: flex; 
    gap: 20px;
    justify-content: flex-end;
    margin: 20px;
}

h1 {

    background-image: ;
}