body {
    text-align: center;
}

header {
    background-color: rgb(152, 187, 219);
}

.header {
    list-style: none;
    display: flex; 
    gap: 20px;
    justify-content: flex-end;
    margin: 20px;
}

h1 {
    /*background-image: url(header.jpg);*/
    background-color: rgb(45, 128, 236);
    padding: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.content {
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    width: 800px;

}

.profile {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: left;
}

main {
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
}

.about {
    width: 200px;
    margin: 30px;
}
