h3, body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}
a:hover { 
    text-decoration: none;
    color:rgb(36, 99, 216);
 }

 ul li {
     padding-bottom: 5px;
 }

nav ul {
    list-style: none;
    display: flex; 
    gap: 20px;
    justify-content: flex-end;
    margin: 20px;
}

h1, footer {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1597484389225-c68a9f0fa106?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80);
    background-size: cover;
    padding: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 15% 15% 40% 10% 20%;
}

.content {
    font-size: 18px;
    text-align: left;
    padding-bottom: 40px;
    grid-column: 3 / 4;
}

.about {
    width: 200px;
    padding-left: 30px;
    grid-column-start: -2;
    margin-top: 30px;
}

.profile {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: left;
}

main {
    display: flex;
    justify-content: center;
}



img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
}

footer {
    background-color: rgb(45, 128, 236);
    color: antiquewhite;
    padding: 0.05px;
}